aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
annotated-types==0.8.0
argcomplete==3.7.2
attrs==26.1.0
autocommand==2.2.2
bcc==0.36.1
bcrypt==5.0.0
blinker==1.9.0
bottle==0.13.4
Brlapi==0.8.8
btrfsutil==7.1
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.4.7
click==8.3.3
cryptography==50.0.0
Cython==3.2.9
dasbus==1.7
dbus-fast==5.0.22
dbus-python==1.4.0
defusedxml==0.7.1
distlib==0.4.3
distro==1.9.0
evdev==2.0.0
fido2==2.2.1
filelock==3.29.3
Flask==3.1.3
flask-cors==6.0.2
frozenlist==1.8.0
gi-docgen==2026.1
idna==3.19
importlib_metadata==9.0.0
input-remapper @ file:///home/daisy/.cache/yay/input-remapper-git/src/input-remapper
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.collections==5.1.0
jaraco.context==6.1.3.dev0+g098f39c91.d20260403
jaraco.functools==4.1.0
jaraco.text==4.0.0
jeepney==0.9.0
Jinja2==3.1.6
keyring==25.7.0
lensfun==0.3.4
louis==3.38.0
lxml==6.1.2
Mako==1.3.12.dev0
Markdown==3.10.3
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
meson==1.12.0
more-itertools==11.1.0
multidict==6.7.1
nanobind==2.15.0
netsnmp-python==1.0a1
nftables==0.1
numpy==2.5.2
packaging==26.3
platformdirs==4.11.3
propcache==0.4.1
proton-core==0.7.0
proton-keyring-linux==0.2.2
proton-vpn-api-core==5.2.5
proton-vpn-daemon==0.13.7
proton-vpn-gtk-app==4.16.5
proxy_tools==0.1.0
psutil==7.2.2
pwquality==1.4.5
pybind11==3.1.0
pycairo==1.29.1
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
PyGObject==3.56.3
PyNaCl==1.6.2
PyOpenGL==3.1.10
pyOpenSSL==26.4.0
PySide6==6.11.2
python-discovery==1.5.3.dev0+g098662762.d20260818
python-dotenv==1.2.3
python-gnupg==0.5.6
python-magic==0.4.27
pywebview==6.2.1
pyxdg==0.28
requests==2.34.2
rich==15.0.0
SecretStorage==3.5.0
sentry-sdk==2.68.0
setproctitle==1.3.7
setuptools==84.0.0
shiboken6==6.11.2
smartypants==2.0.2
TBB @ file:///build/onetbb/src/build/python/python_build
tomlkit==0.15.1
tqdm==4.70.0
typing-inspection==0.4.4
typing_extensions==4.16.0
typogrify==2.1.0
urllib3==2.7.0
VapourSynth==77
virtualenv==21.7.4
Werkzeug==3.1.8
wheel==0.48.0
yarl==1.23.0
zipp==3.21.0
